<div class="container">
  <h3>
    My Tasks
    <img *ngIf="loading" src="assets/loader.gif">
  </h3>
  <form>
    <mat-list role="list">
      <mat-list-item *ngFor="let task of tasks">
          <app-task-list-item
            [task]="task"
            [disabled]="loading"
            (error)="loadTasks()"
            (delete)="removeTask($event)"
            (update)="updateEvent()"
          ></app-task-list-item>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary" type="button" (click)="addNewTask()" [disabled]="loading">
      Add New Task
    </button>
    <button mat-raised-button color="warn" type="button" (click)="deleteCompleted()" [disabled]="!hasDeletable || loading">
      Delete completed tasks
    </button>
  </form>
</div>