<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/home']">{{ 'NgTraining' | uppercase }}</button>
    <button mat-button [routerLink]="['/home']">Home</button>
    <button mat-button [routerLink]="['/task/list']">Tasks</button>
    <span class="spacer"></span>
    <button mat-button *ngIf="!authService.user" [routerLink]="['/user/registration']">{{ 'Registration' }}</button>
    <button mat-button *ngIf="!authService.user" [routerLink]="['/user/login']">{{ 'Login' }}</button>
    <span *ngIf="authService.user" class="mat-button">{{ authService.user.name }}</span>
    <button mat-button *ngIf="authService.user" (click)="authService.logout()">{{ 'Logout' }}</button>
  </mat-toolbar-row>
</mat-toolbar>