/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  display: flex;
  flex-direction: column;
}

form > .mat-form-field {
  width: 100%;
}